node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.idea/codestream.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/watcherTasks.xml
/.idea/vcs.xml
/.idea/rancagua-digital.iml
/.idea/inspectionProfiles/Project_Default.xml
