.subtitle{
 // text-overflow: ellipsis;
  font-size: 0.87rem;
//  font-weight: bold;
  flex: 1;
  flex-direction: row;
  text-align: justify;
  //text-overflow: ellipsis;

}
.title{
  font-size: 1rem;
  font-weight: bold;
 }


